@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');


body{
    /* background-color: #ffda72;  */
    padding: 0;
    margin:0px;
    height: 100%;
    width: 100%;
}
.container-fluid{
  padding: 0;
  margin:0px;
}
#logo{
  width: 20%;
}
.carousel-item{
  bottom: 20%;
  height: 400px;  
}
.carousel-caption{
  margin-bottom: 180px;

}
.opacity{
  opacity: 0.6;
  background-color: black;
}
h4{
  font-family: 'Fredoka One', cursive;
}
.d-block{
  transform: translate(70,0%);
  justify-content: center;
}
.leftside{
  background-color: #ffda72;
}
.navbar-nav{
  font-family: 'Patrick Hand', cursive;
  font-size: 25px;
}

